body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Patua One';
    /* height: 2500px; */
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3E8EEE;
    padding: 1rem 3%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    width: 75%;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
}

header .navbar .navbar-list {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

header .navbar .navbar-list:hover {
    top: -10px;
}

header .navbar #profile {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* .dropdown > span {
    font-size: 1rem;
    font-weight: 600;
    margin-right: .5rem;
    color: white;
    position: relative;
    cursor: pointer;
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    margin-left: -8rem;
    margin-top: .5rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .dropdown-item {
    color: #3E8EEE;;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

#menu-bar {
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    border: .1rem solid white;
    border-radius: .3rem;
    padding: .5rem;
    display: none;
}

main {
    background-color: white;
    margin: 0 25%;
}

.kategori, .pertanyaan {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.title {
    position: relative;
    font-size: 1rem;
    margin: 0;
}

.kategori > input,  .pertanyaan > textarea {
    position: relative;
    background-color: #D9D9D9;
    font-size: 1rem;
    padding: 1rem;
    border: .1rem solid;
    border-radius: .7rem;
    width: 100%;
}

.kategori > input:focus {
    outline: none;
}

/* .jumlah {
    margin: 1.5rem 0;
    
} */

.jumlah > input {
    margin: 1.5rem 0;
    position: relative;
    background-color: #D9D9D9;
    font-size: 1rem;
    padding: .8rem 1rem;
    border: .1rem solid;
    border-radius: .7rem;
    width: 70%;
}

.jumlah > .next {
    width: 20%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: #3085d6;
    cursor: pointer;
}

.nilai {
    margin: 1.5rem 0;
}

.nilai .var {
    margin: .5rem 0;
    display: grid;
    grid-template-columns: 20% 100%;
    align-items: center;
}

.nilai .var > input {
    position: relative;
    background-color: #D9D9D9;
    font-size: 1rem;
    padding: .8rem 1rem;
    border: .1rem solid;
    border-radius: .7rem;
    width: 10%;
}

.btn {
    display: flex;
    gap: 0 2rem;
    justify-content: center;
}

.btn .cancel, .save {
    width: 7rem;
    text-align: center;
    margin: 5rem 0;
    padding: .5rem 0;
    border-radius: .5rem;
    position: relative;
    z-index: 4;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Patua One';
    cursor: pointer;
}

.btn .cancel {
    background-color: #EE3E3E;
}

.btn .save {
    background-color: #3E8EEE;
}

#scroll-top {
    position: fixed;
    top: 100%;
    right: 2rem;
    padding: .5rem 1rem;
    font-size: 2rem;
    background: #1746A2;
    color: #fff;
    border-radius: .7rem;
    transition: 1s linear;
    z-index: 100;
}

#scroll-top.active {
    top: calc(100% - 5rem);
}